body{
    margin: 1% 5% 1% 5%
}

/* рамка для текста ошибки при входе */
.err{
	border: 1px solid red;
	color: red;
	float: left;
} 

/* строка поиска сотрудника*/
#pac{
	width: 50em;
}

/*
#main{

} */

#logo{
	display:inline-block;
	position: center;
	padding: 0.5em;
}

#MainMenu{
	display:inline-block;
	float: right;
	padding: 1em;
}

#au{
	width: 20em;
}

#labLogin{
	font-family: "SegoeUI";
	font-size: 18px;
}

#labPass{
	font-family: "SegoeUI";
	font-size: 18px;
}

#enter{
	width: 50%;
}

/* кнопка для поиска */
#btn{
	width: 10em;
	height: 3em;
}

header {
    text-align: justify;
    letter-spacing: 1px;
    height: 5em;
    background: radial-gradient(at top, #FEFFFF, #A7CECC);
}

nav a {
	padding-top: 2em;
	padding-right: 1em;
	color: #4682B4;
	display: inline-block;
}


.modalwin { 
	height: auto;  
	width: 75%;
	border: 3px outset gray; 
	background: White;
	top: 5%; /* отступ сверху */
	right: 0;
	left: 0;
	font-size: 14px; 
	margin: 0 auto;
	z-index:2; /* поверх всех */
	display: none;  /* сначала невидим */
	position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
	padding: 15px;
	border: 1px solid #383838;
	z-index: 1000;
}

#shadow { 
	position: fixed;
	width:100%;
	height:100%;
	z-index:1; /* поверх всех  кроме окна*/
	background:#000;
	opacity: 0.5; /*прозрачность*/
	left:0;
	top:0;
}

.PacLeftEdit{
	width: 20%;
	float: left;
}

.PacRightEdit{
	width: 75%;
	float: left;
}


.divline{
	clear:both;
	padding-bottom: 1.25em;
}

.PacLeftView{
	color: #1C1C1C;
	width: 25%;
	float: left;
}

.pacColor{
	color: #00008B;	
}

.PacRightView{
	color: #00008B;
	width: 74%;
	float: left;
}

.PacientTextEdit{
	width: 100%;
}

.brd{
	width: 37em;
}

.btn{
	float: right;
	margin-right: 2em;
}

#tabs .tab {
    display: inline-block;
   
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    z-index:5;
}
#tabs .whiteborder {
   border: 1px solid #707070;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0  0;
}
#tabs .tabContent {
    width: auto;
    height: auto;
    border: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index:1;
    padding: 10px;
    border-radius: 0 0 3px 3px
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}

.bold{
	font-weight: bold;
}


/* Выпадающее меню */

.menu ul li, .menu ul{
	display: inline-block;
}
.menu ul{
	position: relative;
	margin: 0;
	padding: 0;
}
.menu ul ul{
	display: none;
	position: absolute;
	margin-left: 0px;
}
.menu ul a{
	text-decoration: none;
}
.menu ul ul a{
	text-decoration: none;
}
.menu li:hover ul{
	display: block;
}

.menu li:hover li{
	display: block;
}