<div>
    <h3>Вы уверены?</h3>
    <form name="confirmDelete" method="post">
        <table>
            <tr>
                <input type="hidden" id="deleteRowByID" name="deleteRowByID">
                <input type="hidden" id="deleteRowType" name="deleteRowType">
            </tr>
            <tr>
                <td>
                    <input type="submit" name="confirmDeleteYesNo" class="btn" value="Да">
                </td>
                <td>
                    <input type="submit" name="confirmDeleteYesNo" class="btn" value="Нет">
                </td>
            </tr>
        </table>
    </form>
</div>